*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --body--bg:#1A0B2E;
  --primary-white:#FFFFFF;
  --secondary-para:rgba(255, 255, 255, 1);
  --whychoose-bg:#230E3D;
--brand-gradient: linear-gradient(20deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

html{
  font-size: 10px;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--body--bg);
     font-size: 1.6rem;
}
img{
  max-width: 100%;
  height: auto;
}

a{
  font-weight: 500;
}



h1,h2,h3,h4,h5,h6{
  color: var(--primary-white);
}

p{
 color:rgb(169, 158, 184);
 line-height: 24px;
}




/* shared design*/
.container{
  max-width: 1200px;
  margin: 0 auto;
}


.btn{

  padding: 12px 16px;
 border: none;
cursor: pointer;
font-weight: 600;
 font-size: 1.6rem;
 transition: 0.4s linear;
}

.btn:hover{
/* transform: translateY(-1px); */
box-shadow: 0 0 12px rgba(251, 9, 180, 1);
}



.d-flex{
  display: flex;
}

.d-grid{
  display: grid;
}

.d-column{
  flex-direction: column;
}

.c-center{
  justify-content: center;
  align-items: center;
}








/* individual design */


header{
 
  border-bottom: 2px solid rgb(41, 20, 69);
}

.navigation_menu{
  justify-content: space-between;
  align-items: center; 
  padding: 22px 20px;
  color: var(--primary-white);
}

.navigation_menu h1{
  font-weight: 700;
  font-size: 4rem;
}
.navigation_menu .gradient-logo{
background: var(--brand-gradient);
background-clip: text;
color: transparent;
}



.navigation_menu ul{
  gap: 32px;
  list-style: none;
}

.navigation_menu ul li a{
  text-decoration: none;
  color: var(--primary-white);
  transition: color 0.3s linear ;
}

.navigation_menu ul li a:hover{
  color:rgba(0, 255, 136, 1);
}

.nav-btn-container button{
background: var(--brand-gradient);
  border-radius: 36px;
  color: var(--primary-white);
  gap: 6px;
  align-items: center;
 
}

.nav-btn-container button i{
animation: blinker 0.9s linear infinite;
}


@keyframes blinker {

  0%{
    transform: translateX(0);
  }

  50%{
    transform: translateX(3px);
  }

  100%{
    transform: translateX(0);
  }
  
}


.hamb-menu{
  display: none;
}


/* hero area design */



#banner_area{
  padding: 101px 0;
background: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size:100% 100%;
background-position: center;
}



/* hero info */
.hero_info{
 max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hero_circle_img_container{
max-width: 350px;
margin: 0 auto 50px;
position: relative;
border-radius: 50%;

}

.mic_container{
  position: absolute;
top: 25%;
bottom: 25%;
left: 25%;
right: 25%;
justify-content: center;
}

.mic_container .mic_mobile{
  display: none;
}


.tooltip_area{
  position: absolute;
  top: 15px;
  right: 22px;
  background-color:rgba(0, 255, 136, 1) ;
  border-radius: 36px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 16px;
  box-shadow: 0 0 18px rgba(0, 255, 136, 1);
}






.hero_info h2{
  font-size:6rem ;
  font-weight: 800;
  
}


.hero_info p{
margin: 8px 0;

}

.hero_btn_area {
  gap: 10px;
  margin-top:25px ;
}


.hero_btn_area button{
padding: 12px 20px;
display: flex;
gap:8px ;
align-items: center;
border-radius: 36px;
color: var(--primary-white);
}

.hero_btn_area button img{
  width: 20px;
}

#hero_gradient_btn{
  background: var(--brand-gradient);
}

#hero_green_btn{
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
  background: none;
}

#hero_green_btn:hover{
  box-shadow: 0 0 12px rgba(0, 255, 136, 1);
}

/* about podcust section */


#about_podcast{
  padding: 40px 0;
}


.about_podcast_info{
  max-width: 800px;
margin: 20px auto 80px;
text-align: center;
padding: 0 10px;
}

.about_podcast_info h3{
 font-size: 4.8rem;
 font-weight: bold; 
}

.about_podcast_info p{
  line-height: 24px;
  margin: 20px 0;
}

.podcast_activity_main{

 grid-template-columns: repeat(4,1fr);
 padding: 80px 0;
 border-top:2px solid rgb(41, 20, 69) ;
 justify-content: space-between;
 justify-items: center;
}

.tech_wave_activity{
  text-align: center;
}

.tech_wave_activity h4{
  font-size: 4.8rem;
  color: rgba(0, 255, 136, 1);
  font-weight: 800;
  margin-bottom: 16px;
}


.tech_wave_activity p{
  text-transform: uppercase;
}


/* why choose area design */

#why_choose_area{
  padding: 120px 0;
  background-color: var(--whychoose-bg);
}

.why_choose_title{
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  
}

.why_choose_grid{
  margin-top: 40px;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,225px);
gap: 30px;
}


#A{
  grid-column: 1/2;
  grid-row: 1/3;
justify-content: center;
  
}

#A img{
  width: 50px;
  height:50px;
}

#B{
  grid-column: 2/4;
  grid-row: 1/1;
}

#C{
   grid-column: 2/4;
 
}

#D{
  grid-column: 1/3;
}


.choose_item{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}


.choose_item:hover{
  box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}





.choose_item h6{
  font-size: 2.4rem;
  font-weight: bold;
  margin: 16px 0;
}


#featured_episode_area{
  padding: 110px 0;
}

.feature_episode_title{
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
}


.episode_main_container{
  margin-top: 40px;
 grid-template-columns: repeat(3,1fr);
 gap: 30px;
}


.episode{
  border-radius:30px 30px 15px 15px;
  background-color: #250D44;
  transition: box-shadow 0.3s linear;
}

.episode:nth-child(1):hover{
    box-shadow: 0 0 15px rgba(251, 9, 180, 1);
}
.episode:nth-child(2):hover{
    box-shadow: 0 0 15px rgba(145, 0, 248, 1);
}
.episode:nth-child(3):hover{
    box-shadow: 0 0 15px rgba(247, 233, 63, 1);
}

.episode iframe{
  width: 100%;
border-radius: 30px 30px 0 0;
  aspect-ratio:16/9;
}


.episode_info{
  padding: 25px;
}

.episode_info h6{
  font-size: 2.4rem;
  font-weight: bold;
}

.episode_info p{
  margin:12px 0 ;
}


.episode_duration{
  gap:6px ;
  align-items: center;

}



.episode_duration p{
  color: rgba(0, 255, 136, 1);
}



/* host area design */

#meet_the_host{
  padding-bottom: 120px;
}

.host_area_title{
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
}
.host_area_main{
  margin-top: 40px;
  gap: 24px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}


.host_area_main:hover{
box-shadow: 0 0 15px rgba(251, 9, 180, 1);
}





.host_info h6{
  font-size: 3.2rem;
  font-weight: bold;
}

.host_info p{
  margin: 16px 0;
}
.host_icons_area{
gap: 8px;
}

.host_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(83, 60, 114);
}




/* footer area design */

footer{
  padding: 100px 0;
background-image: url(./assets/footer-bg.png);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
}


.footer_main_container{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  color: #ddd;
}


.footer_main_container h6{

font-size: 60px;
font-weight: 800;
}

.footer_gradient_txt{

  background: var(--brand-gradient);
  background-clip: text;
  color: transparent;
}

.footer_icons_area{
  /* grid-template-columns: repeat(4,1fr); */
  margin: 32px 0;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}



.footer_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}




/* responsive area */

@media screen and (max-width:576px){

  .container{
  width: 96%;
  }

  .navigation_menu ul{
    display: none;
  }

.nav-btn-container{
  display: none;
}

.hamb-menu{
  display: block;
  font-size: 24px;
  cursor: pointer;
}

#banner_area{
  padding: 40px 20px;
}




.hero_circle_img_container{
max-width: 200px;
  top: 25px;
 
}  

   .hero_info h2{
    font-size: 4rem;
   }

   .mic_container{
    align-items: center;
   }
   .mic_container .mic_large{
    display: none;
   }

   .mic_container .mic_mobile{
    display: inline-block;
   }

 
   .tooltip_area{
    top: 3px;
    right: -3px;
   }


   /* .hero_btn_area {
    border: 1px solid red;

   } */



   /* about podcast area */

   .about_podcast_info{
    margin: 50px auto;
   }


.about_podcast_info h3{
 font-size: 3.2rem;
}

.about_podcast_info p{
  line-height: 20px;
}

.podcast_activity_main{

 grid-template-columns: repeat(2,1fr);
 padding: 50px 0 10px;
 row-gap: 40px;
}



.tech_wave_activity h4{
  font-size: 4rem;
}


/* why choose area */

#why_choose_area{
  padding: 40px 0;
}

.why_choose_title{
  font-size: 3.2rem;

}


.why_choose_grid{
grid-template-columns: 1fr;
grid-template-rows: 300px;
gap: 30px;
}


#A{
  grid-column: 1/1;
  grid-row: 1/1;

  
}



#B{
  grid-column: 1/1;
  grid-row: 2/3;
}

#C{
   grid-column: 1/1;
 
}

#D{
  grid-column: 1/1;
}



/* feature episodes */


#featured_episode_area{
  padding: 60px 0;
}

.feature_episode_title{
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}


.episode_main_container{
  padding: 0 10px;
 grid-template-columns: 1fr;
 gap: 30px;
}

.episode_info{
  padding: 16px;
}

.episode_info h6{
  font-size: 2rem;
}


/* host area  */

#meet_the_host{
padding: 0 10px 40px;
}

.host_area_title{
  text-align: center;
  font-size: 3.2rem;
}
.host_area_main{
  margin-top:24px;
  padding: 24px;
text-align: center;
  flex-direction: column;

}


.host_area_main>img{
  width: 150px;
  height: 150px;
}

.host_info h6{
  font-size: 2.4rem;
}


.host_icons_area{
  justify-content: center;
}




/* footer area */

footer{
  padding: 40px 0;
  background-size: 100% 100%;
}

.footer_main_container h6{

font-size: 4rem;
}
.footer_icons_area{

  width: 70%;
  margin: 20px auto;
  row-gap: 16px;
}
















}


/* responsive up to 576px device */

@media screen and (min-width:576px) and (max-width:992px){
.container{
  width: 95%;
}

.navigation_menu ul{
    display: none;
  }

.nav-btn-container{
  display: none;
}

.hamb-menu{
  display: block;
  font-size: 26px;

}

#banner_area{
  padding: 50px 25px;
}




.hero_circle_img_container{
max-width: 230px;
  top: 25px;
 
}  

   .hero_info h2{
    font-size: 5rem;
   }

 
   .mic_container .mic_large{
    display: none;
   }

   .mic_container .mic_mobile{
    display: inline-block;
   }


   /* about podcast area */

   .about_podcast_info{
    margin: 60px auto;
   }


.about_podcast_info h3{
 font-size: 4rem;
}



.podcast_activity_main{

 grid-template-columns: repeat(3,1fr);
 padding: 60px 0 20px;
 row-gap: 40px;
}



.tech_wave_activity h4{
  font-size: 4rem;
}


.tooltip_area{
    top: 1px;
  right: 8px;
  /* right: 12px; */
   }



   /*  why choose area*/

#why_choose_area{
  padding: 90px 0;
}

.why_choose_title{
  font-size: 4rem;

}


.why_choose_grid{
grid-template-columns: 1fr;
grid-template-rows: 350px;
gap: 30px;
}


#A{
  grid-column: 1/1;
  grid-row: 1/1;

  
}



#B{
  grid-column: 1/1;
  grid-row: 2/3;
}

#C{
   grid-column: 1/1;
 
}

#D{
  grid-column: 1/1;
}



/* feature episodes */

#featured_episode_area{
  padding: 80px 0;
}

.feature_episode_title{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}


.episode_main_container{
  padding: 0 20px;
 grid-template-columns:1fr;
}

.episode_info{
  padding: 20px;
}

.episode_info h6{
  font-size: 2.2rem;
}


/* host area */

#meet_the_host{
  padding: 0 10px 70px;
}

.host_area_title{
 
  font-size: 3.7rem;
}
.host_area_main{

  padding: 40px;
 flex-direction: column;
 text-align: center;
}

.host_icons_area{
  justify-content: center;
}



.host_info h6{
  font-size: 3rem;
}


/* footer area */

footer{
  padding: 80px 0;
  background-size: 100% 100%;
}

.footer_main_container h6{

font-size: 5rem;
}
.footer_icons_area{

  width: 75%;
  margin: 25px auto;
  row-gap: 16px;
}




}


/* responsive up to 992px device */

@media screen and (min-width:992px) and (max-width:1200px){
  

.container{
  width: 95%;
}



/* why choose area */

.why_choose_grid {
  gap: 25px;
}


.choose_item{
  padding: 30px;
}



.episode_main_container {
   
    grid-template-columns: repeat(2, 1fr);
   
}

}


/* overall done */