*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --body--bg:#1A0B2E;
  --primary-white:#FFFFFF;
  --secondary-para:rgba(255, 255, 255, 1);
  --whychoose-bg:#230E3D;
--brand-gradient: linear-gradient(20deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

html{
  font-size: 10px;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--body--bg);
     font-size: 1.6rem;
}
img{
  max-width: 100%;
  height: auto;
}

a{
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  color: var(--primary-white);
}

p{
 color: #ddd;
}




/* shared design*/
.container{
  max-width: 1200px;
  margin: 0 auto;
}


.btn{

  padding: 12px 16px;
 border: none;
cursor: pointer;
font-weight: 600;
 font-size: 1.6rem;
}

.d-flex{
  display: flex;
}

.d-grid{
  display: grid;
}

.d-column{
  flex-direction: column;
}

.c-center{
  justify-content: center;
  align-items: center;
}








/* individual design */


header{
 
  border-bottom: 2px solid rgb(41, 20, 69);
}

.navigation_menu{
  justify-content: space-between;
  align-items: center; 
  padding: 22px 20px;
  color: var(--primary-white);
}

.navigation_menu h1{
  font-weight: 700;
  font-size: 4rem;
}
.navigation_menu .gradient-logo{
background: var(--brand-gradient);
background-clip: text;
color: transparent;
}



.navigation_menu ul{
  gap: 32px;
  list-style: none;
}

.navigation_menu ul li a{
  text-decoration: none;
  color: var(--primary-white);
}

.nav-btn-container button{
background: var(--brand-gradient);
  border-radius: 36px;
  color: var(--primary-white);
  gap: 6px;
  align-items: center;
 
}

.hamb-menu{
  display: none;
}


/* hero area design */



#banner_area{
  padding: 101px 0;
background: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}



/* hero info */
.hero_info{
 max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.hero_circle_img_container{
max-width: 350px;
margin: 0 auto 50px;
position: relative;
border-radius: 50%;

}

.mic_container{
  position: absolute;
top: 25%;
bottom: 25%;
left: 25%;
right: 25%;
justify-content: center;
}

.mic_container .mic_mobile{
  display: none;
}



.tooltip_area{
  position: absolute;
  top: 15px;
  right: 21px;
  background-color:rgba(0, 255, 136, 1) ;
  border-radius: 36px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 16px;
  box-shadow: 0 0 15px rgba(0, 255, 136, 1);
  animation: popup 10s linear infinite;
}

@keyframes popup{
 0%{
    background-color: rgba(0, 255, 136, 1);
      box-shadow: 0 0 15px rgba(0, 255, 136, 1);
  }

  25%{
    box-shadow: 0 0 15px rgba(247, 233, 63, 1) ;
    background-color: rgba(247, 233, 63, 1);
  }


  50%{
    background-color:rgba(251, 9, 180, 1);
    box-shadow: 0 0 15px rgba(251, 9, 180, 1);
  }

75%{
  background-color: rgba(145, 0, 248, 1);
  box-shadow: 0 0 15px rgba(145, 0, 248, 1);
}
}




.hero_info h2{
  font-size:6rem ;
  font-weight: 800;
  
}


.hero_info p{
margin: 8px 0;

}

.hero_btn_area {
  gap: 10px;
  margin-top:25px ;
}


.hero_btn_area button{
padding: 12px 20px;
display: flex;
gap:8px ;
align-items: center;
border-radius: 36px;
color: var(--primary-white);
}

.hero_btn_area button img{
  width: 20px;
}

#hero_gradient_btn{
  background: var(--brand-gradient);
}

#hero_green_btn{
  border: 1px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
  background: none;
}


/* about podcust section */





.about_podcast_info{
  max-width: 800px;
margin: 40px auto 80px;
text-align: center;
padding: 0 10px;
}

.about_podcast_info h3{
 font-size: 4.8rem;
 font-weight: bold; 
}

.about_podcast_info p{
  line-height: 24px;
  margin: 20px 0;
}

.podcast_activity_main{

 grid-template-columns: repeat(4,1fr);
 padding: 80px 0;
 border-top:2px solid rgb(41, 20, 69) ;
 justify-content: space-between;
 justify-items: center;
}

.tech_wave_activity{
  text-align: center;
}

.tech_wave_activity h4{
  font-size: 4.8rem;
  color: rgba(0, 255, 136, 1);
  font-weight: 800;
  margin-bottom: 16px;
}




/* responsive area */

@media screen and (max-width:576px){

  .container{
  width: 96%;
  }

  .navigation_menu ul{
    display: none;
  }

.nav-btn-container{
  display: none;
}

.hamb-menu{
  display: block;
  font-size: 24px;
  cursor: pointer;
}

#banner_area{
  padding: 40px 20px;
}




.hero_circle_img_container{
max-width: 250px;
  top: 25px;
 
}  

   .hero_info h2{
    font-size: 4rem;
   }

   .mic_container{
    align-items: center;
   }
   .mic_container .mic_large{
    display: none;
   }

   .mic_container .mic_mobile{
    display: inline-block;
   }

 
   .tooltip_area{
    top: 2px;
    right: 11px;
   }




   /* about podcast area */

   .about_podcast_info{
    margin: 50px auto;
   }


.about_podcast_info h3{
 font-size: 3.2rem;
}

.about_podcast_info p{
  line-height: 20px;
}

.podcast_activity_main{

 grid-template-columns: repeat(2,1fr);
 padding: 50px 0;
 row-gap: 40px;
}



.tech_wave_activity h4{
  font-size: 4rem;
}


}


/* responsive over 576px device */

@media screen and (min-width:576px) and (max-width:992px){
.container{
  width: 95%;
}

.navigation_menu ul{
    display: none;
  }

.nav-btn-container{
  display: none;
}

.hamb-menu{
  display: block;
  font-size: 26px;

}

#banner_area{
  padding: 50px 25px;
}




.hero_circle_img_container{
max-width: 250px;
  top: 25px;
 
}  

   .hero_info h2{
    font-size: 5rem;
   }

 
   .mic_container .mic_large{
    display: none;
   }

   .mic_container .mic_mobile{
    display: inline-block;
   }

 
 




   /* about podcast area */

   .about_podcast_info{
    margin: 60px auto;
   }


.about_podcast_info h3{
 font-size: 4rem;
}



.podcast_activity_main{

 grid-template-columns: repeat(3,1fr);
 padding: 60px 0;
 row-gap: 40px;
}



.tech_wave_activity h4{
  font-size: 4rem;
}


.tooltip_area{
    top: 1px;
  right: 12px;
   }



}


/* responsive over 992px device */

/* @media screen and (min-width:992px) and (max-width:1200px){


} */